<nav class="navbar">
    <div class="nav-links">
        <div class="dropdown">
            <button class="dropdown-button">Services <i class="fas fa-chevron-down"></i></button>
            <div class="dropdown-content">
                <a href="#aws-devops">AWS DevOps Acceleration</a>
                <a href="#premium-support">Premium Support</a>
                <a href="#aws-migrations">AWS Migrations Support</a>
            </div>
        </div>
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
        {{ end }}
    </div>
</nav> 
